<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503373056601-ktka8jv3ustnv3dtpb1q4mfb94r72t0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503373056601-ktka8jv3ustnv3dtpb1q4mfb94r72t0p</string>
	<key>API_KEY</key>
	<string>AIzaSyDPwFeY-g1rucHeu9fY-4_8o2Q1o6JQSIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>503373056601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felician.cafe-manager</string>
	<key>PROJECT_ID</key>
	<string>cafenibm-d3d73</string>
	<key>STORAGE_BUCKET</key>
	<string>cafenibm-d3d73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503373056601:ios:25020ebcb7b988a62c3f48</string>
	<key>DATABASE_URL</key>
	<string>https://cafenibm-d3d73-default-rtdb.firebaseio.com</string>
</dict>
</plist>